extends layout
block head
  style.
    .mdl-data-table th {
      font-size: 16px;
    }
block body
  .android-more-section
    .android-card-container.mdl-grid
      .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--3dp
        .mdl-card__title
          .mdl-card__title-text 運送選項
        .mdl-card__supporting-text
          .mdl-grid
            .mdl-cell.mdl-cell--3-col
              label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='option-1')
                input#option-1.mdl-radio__button(type='radio', name='options', value='1', checked='checked')
                span.mdl-radio__label 面交（$0）
            .mdl-cell.mdl-cell--3-col
              label.mdl-radio.mdl-js-radio.mdl-js-ripple-effect(for='option-2')
                input#option-2.mdl-radio__button(type='radio', name='options', value='2')
                span.mdl-radio__label 冷藏宅配（$135）
      .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--3dp
        .mdl-card__title
          .mdl-card__title-text 面交
        .mdl-card__supporting-text(style='width:auto')
          .mdl-grid
            .mdl-cell.mdl-cell--12-col
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.textfield-demo
                input#name.mdl-textfield__input(type='text')
                label.mdl-textfield__label(for='name') 姓名
            .mdl-cell.mdl-cell--12-col
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.textfield-demo
                input#phone.mdl-textfield__input(type='text')
                label.mdl-textfield__label(for='phone') 電話
      .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--3dp
        .mdl-card__title
          .mdl-card__title-text 宅配
        .mdl-card__supporting-text(style='width:auto')
          .mdl-grid
            .mdl-cell.mdl-cell--12-col
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.textfield-demo
                input#name.mdl-textfield__input(type='text')
                label.mdl-textfield__label(for='name') 姓名
            .mdl-cell.mdl-cell--12-col
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.textfield-demo
                input#phone.mdl-textfield__input(type='text')
                label.mdl-textfield__label(for='phone') 電話
            .mdl-cell.mdl-cell--12-col
              .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.textfield-demo
                input#address.mdl-textfield__input(type='text')
                label.mdl-textfield__label(for='address') 收件地址
      .mdl-cell.mdl-cell--12-col.mdl-card.mdl-shadow--3dp(style="min-height: auto;")
        a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(href='/checkout_review') 下一步
