extends layout
block head
  style.
    #social_link a{
      padding: 10px;
    }
    #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
    }
block body
    a(name='top')
    |         
    .android-be-together-section.mdl-typography--text-center
      .android-font.android-slogan 主打商品
      |           
      .android-font.android-sub-slogan 主打商品描述
      |           
      .android-font.android-create-character
        a(href='/products') 更多商品
      |           
      a(href='#screens')
        button.android-fab.mdl-button.mdl-button--colored.mdl-js-button.mdl-button--fab.mdl-js-ripple-effect
          i.material-icons expand_more
    |                
    .android-more-section
      .android-section-title.mdl-typography--display-1-color-contrast 精選商品
      |           
      .android-card-container.mdl-grid
        .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
          .mdl-card__media
            img(src='/static/images/product_a.jpg')
          |               
          .mdl-card__title
            h4.mdl-card__title-text 商品A
          |               
          .mdl-card__supporting-text
            span.mdl-typography--font-light.mdl-typography--subhead 商品描述A，商品描述A，商品描述A。
          |               
          .mdl-card__actions
            a.android-link.mdl-button.mdl-js-button.mdl-typography--text-uppercase(href='/product')
              | MORE
              i.material-icons chevron_right
        |             
        .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
          .mdl-card__media
            img(src='/static/images/product_b.jpg')
          |               
          .mdl-card__title
            h4.mdl-card__title-text 商品B
          |               
          .mdl-card__supporting-text
            span.mdl-typography--font-light.mdl-typography--subhead 商品描述B，商品描述B，商品描述B。
          |               
          .mdl-card__actions
            a.android-link.mdl-button.mdl-js-button.mdl-typography--text-uppercase(href='/product')
              | MORE
              i.material-icons chevron_right
        |             
        .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
          .mdl-card__media
            img(src='/static/images/product_c.jpg')
          |               
          .mdl-card__title
            h4.mdl-card__title-text 商品C
          |               
          .mdl-card__supporting-text
            span.mdl-typography--font-light.mdl-typography--subhead 商品描述C，商品描述C，商品描述C。
          |               
          .mdl-card__actions
            a.android-link.mdl-button.mdl-js-button.mdl-typography--text-uppercase(href='/product')
              | MORE
              i.material-icons chevron_right
        |             
        .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
          .mdl-card__media
            img(src='/static/images/product_d.jpg')
          |               
          .mdl-card__title
            h4.mdl-card__title-text 商品D
          |               
          .mdl-card__supporting-text
            span.mdl-typography--font-light.mdl-typography--subhead 商品描述D，商品描述D，商品描述D。
          |               
          .mdl-card__actions
            a.android-link.mdl-button.mdl-js-button.mdl-typography--text-uppercase(href='/product')
              | MORE
              i.material-icons chevron_right
        |             
        .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
          .mdl-card__media
            img(src='/static/images/product_e.jpg')
          |               
          .mdl-card__title
            h4.mdl-card__title-text 商品E
          |               
          .mdl-card__supporting-text
            span.mdl-typography--font-light.mdl-typography--subhead 商品描述E，商品描述E，商品描述E。
          |               
          .mdl-card__actions
            a.android-link.mdl-button.mdl-js-button.mdl-typography--text-uppercase(href='/product')
              | MORE
              i.material-icons chevron_right
        |             
        .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
          .mdl-card__media
            img(src='/static/images/product_f.jpg')
          |               
          .mdl-card__title
            h4.mdl-card__title-text 商品F
          |               
          .mdl-card__supporting-text
            span.mdl-typography--font-light.mdl-typography--subhead 商品描述F，商品描述F，商品描述F。
          |               
          .mdl-card__actions
            a.android-link.mdl-button.mdl-js-button.mdl-typography--text-uppercase(href='/product')
              | MORE
              i.material-icons chevron_right
        |             
        .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
          .mdl-card__media
            img(src='/static/images/product_g.jpg')
          |               
          .mdl-card__title
            h4.mdl-card__title-text 商品G
          |               
          .mdl-card__supporting-text
            span.mdl-typography--font-light.mdl-typography--subhead 商品描述G，商品描述G，商品描述G。
          |               
          .mdl-card__actions
            a.android-link.mdl-button.mdl-js-button.mdl-typography--text-uppercase(href='/product')
              | MORE
              i.material-icons chevron_right
        |             
        .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
          .mdl-card__media
            img(src='/static/images/product_h.jpg')
          |               
          .mdl-card__title
            h4.mdl-card__title-text 商品H
          |               
          .mdl-card__supporting-text
            span.mdl-typography--font-light.mdl-typography--subhead 商品描述H，商品描述H，商品描述H。
          |               
          .mdl-card__actions
            a.android-link.mdl-button.mdl-js-button.mdl-typography--text-uppercase(href='/product')
              | MORE
              i.material-icons chevron_right
