extends layout
block head
  style.
    .products a {
      text-decoration: none;
    }
block body
  .android-more-section
    .android-card-container.mdl-grid.products
      a(href='/product')
        .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
          .mdl-card__media
            img(src='/static/images/product_a.jpg')
          .mdl-card__title
            h4.mdl-card__title-text 商品A
          .mdl-card__supporting-text
            span.mdl-typography--font-light.mdl-typography--subhead 商品描述A，商品描述A，商品描述A。
          .mdl-card__actions
            a.android-link.mdl-button.mdl-js-button.mdl-typography--text-uppercase(href='')
              | 加入購物車
              i.material-icons chevron_right
      a(href='/product')
        .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
          .mdl-card__media
            img(src='/static/images/more-from-4.png')
          .mdl-card__title
            h4.mdl-card__title-text 商品B
          .mdl-card__supporting-text
            span.mdl-typography--font-light.mdl-typography--subhead 商品描述B，商品描述B，商品描述B。
          .mdl-card__actions
            a.android-link.mdl-button.mdl-js-button.mdl-typography--text-uppercase(href='')
              | 加入購物車
              i.material-icons chevron_right
      a(href='/product')
        .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
          .mdl-card__media
            img(src='/static/images/more-from-2.png')
          .mdl-card__title
            h4.mdl-card__title-text 商品C
          .mdl-card__supporting-text
            span.mdl-typography--font-light.mdl-typography--subhead 商品描述C，商品描述C，商品描述C。
          .mdl-card__actions
            a.android-link.mdl-button.mdl-js-button.mdl-typography--text-uppercase(href='')
              | 加入購物車
              i.material-icons chevron_right
      a(href='/product')
        .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
          .mdl-card__media
            img(src='/static/images/more-from-3.png')
          .mdl-card__title
            h4.mdl-card__title-text 商品D
          .mdl-card__supporting-text
            span.mdl-typography--font-light.mdl-typography--subhead 商品描述D，商品描述D，商品描述D。
          .mdl-card__actions
            a.android-link.mdl-button.mdl-js-button.mdl-typography--text-uppercase(href='')
              | 加入購物車
              i.material-icons chevron_right
      a(href='/product')
        .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
          .mdl-card__media
            img(src='/static/images/more-from-1.png')
          .mdl-card__title
            h4.mdl-card__title-text 商品E
          .mdl-card__supporting-text
            span.mdl-typography--font-light.mdl-typography--subhead 商品描述E，商品描述E，商品描述E。
          .mdl-card__actions
            a.android-link.mdl-button.mdl-js-button.mdl-typography--text-uppercase(href='')
              | 加入購物車
              i.material-icons chevron_right
      a(href='/product')
        .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
          .mdl-card__media
            img(src='/static/images/more-from-4.png')
          .mdl-card__title
            h4.mdl-card__title-text 商品F
          .mdl-card__supporting-text
            span.mdl-typography--font-light.mdl-typography--subhead 商品描述F，商品描述F，商品描述F。
          .mdl-card__actions
            a.android-link.mdl-button.mdl-js-button.mdl-typography--text-uppercase(href='')
              | 加入購物車
              i.material-icons chevron_right
      a(href='/product')
        .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
          .mdl-card__media
            img(src='/static/images/more-from-2.png')
          .mdl-card__title
            h4.mdl-card__title-text 商品G
          .mdl-card__supporting-text
            span.mdl-typography--font-light.mdl-typography--subhead 商品描述G，商品描述G，商品描述G。
          .mdl-card__actions
            a.android-link.mdl-button.mdl-js-button.mdl-typography--text-uppercase(href='')
              | 加入購物車
              i.material-icons chevron_right
      a(href='/product')           
        .mdl-cell.mdl-cell--3-col.mdl-cell--4-col-tablet.mdl-cell--4-col-phone.mdl-card.mdl-shadow--3dp
          .mdl-card__media
            img(src='/static/images/more-from-3.png')
          .mdl-card__title
            h4.mdl-card__title-text 商品H
          .mdl-card__supporting-text
            span.mdl-typography--font-light.mdl-typography--subhead 商品描述H，商品描述H，商品描述H。
          .mdl-card__actions
            a.android-link.mdl-button.mdl-js-button.mdl-typography--text-uppercase(href='')
              | 加入購物車
              i.material-icons chevron_right
